{% extends "templateProstages.html.twig" %}

{% block title %}Ajouter une entreprise{% endblock %}

{% block body %}
    <div class="panel-heading"><h4>Ajout d'une entreprise</h4></div>
    {{ form_start(vueFormulaireEntreprise, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(vueFormulaireEntreprise) }}
        <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(vueFormulaireEntreprise) }}
{% endblock %}