{% extends "templateProstages.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{asset('/img/slide1.jpg')}}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Image 1</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="{{asset('/img/slide2.jpg')}}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Image 2</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="{{asset('/img/slide3.jpg')}}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Image 3</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
              </a>
            </div>
          </div>
        <div class="jumbotron jumbotron-fluid text-center">
          <div class="container">
            <h1 class="display-4">Bienvenue</h1>
            <p class="lead">Grâce à Prostages, la recherche d'un stage devient un jeu d'enfant ! Grâce à son annuaire des entreprises et des stages, vous pourrez facilement filtrer le contenu pour cibler celui qui vous intérèsse vraiment.
            </p>
            <p>
              <a href="#" class="btn btn-primary my-2">Trouver un stage</a>
              <a href="#" class="btn btn-secondary my-2">Rechercher une entreprise</a>
            </p>
          </div>
        </div>
<h1>Bienvenue sur la page d'accueil de Prostages</h1>
{% endblock %}
