{% extends "templateProstages.html.twig" %}

{% block title %}Modifier une entreprise{% endblock %}

{% block body %}
    <div class="panel-heading"><h4>Modification d'une entreprise</h4></div>
    {{ form_start(vueFormulaireEntreprise) }}
        {{ form_widget(vueFormulaireEntreprise) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(vueFormulaireEntreprise) }}
{% endblock %}