{% extends "templateProstages.html.twig" %}

{% block title %}Entreprises{% endblock %}

{% block body %}
<h1>Cette page affichera le descriptif du stage ayant pour identifiant {{ idStage }}</h1>
{% endblock %}