<!DOCTYPE html>

<title>New Entreprise</title>

{% block body %}
    <h1>Create new Entreprise</h1>

    {{ include('entreprise/_form.html.twig') }}

    <a href="{{ path('entreprise_index') }}">back to list</a>
{% endblock %}
