<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Prostages</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block entete %}
        <h1>Prostages</h1>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block piedDePage %}
        <h2>Projet Prostages Symfony - Créé par Rémy Lartiguelongue
        {% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
